---
---

html, .body {
    height: 100%;
}

.text-center {
    text-align: center;
}

.example {
    .wow {
        font-size: 12px;
    }
}

#nav {
    border-top: 2px solid #c66135;
    border-bottom: 1px solid #eaeaea;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.949);
    transition: all 0.25s ease;

    &:hover {
        background: white;
    }

    & > div {
        margin: 0px 10px;
        padding: 5px;
        text-align: center;

        a {
            color: rgb(23, 23, 23);
            padding: 0px 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 12px;
            transition: all 0.25s ease;

            &:hover {
            }
        }
    }

    & > .brand a {
        font-size: 20px;

        img {
            border-style: none;
            width: 204px;
            margin: -18px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

#mobile-nav {
    font-family: 'Montserrat', sans-serif;
    margin: 62px auto 0 auto;
    display: none;
    text-align: center;
    color: black;

    a {
        color: black;
    }
}

@media(max-width: 450px) {
    #mobile-nav {
        display: block;
    }
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;

    h1 {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        text-align: center;
        letter-spacing: 1px;
        text-shadow: 2px 2px black;
    }

    &.small {
        height: 300px;
    }

    &.one {
        background: url({{ '/assets/img/header-1.jpg' | relative_url }});
        background-size: cover;
        background-position: 50% 35%;

        h1 {
            font-size: 40px;
        }
    }

    &.two {
        background: url({{ '/assets/img/header-2.jpg' | relative_url }});
        background-size: cover;
        background-position: 50% 35%;

        h1 {
            font-size: 40px;
        }
    }

    &.three {
        background: url({{ '/assets/img/header-3.jpg' | relative_url }});
        background-size: cover;
        background-position: 50% 0%;

        h1 {
            font-size: 40px;
        }
    }
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.tile {
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    width: 300px;
    text-align: center;

    img {
        border-radius: 5px 5px 0 0;
        max-width: 100%;
        height: 170px;
        margin: 0 auto;

        &.full {
            width: 100%;
        }
    }

    .content {
        color: rgb(113, 113, 113);
        padding: 15px;

        .title {
            font-size: 15px;
            color: black;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    background: #3a362d;
    color: white;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;

    a {
        color: white;
    }

    > div {
        padding: 0 10px;
    }
}

@media (max-width: 450px) {
    #nav {
        border-bottom: 1px solid white;
        .left, .right {
            display: none;
        }
    }

    .hero {
        height: 300px;
    }

    .row {
        align-items: center;
        flex-direction: column;
    }

    .tile {
        width: 80%;
    }
}

.banner {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #c66135;
    box-shadow: 0px 2px 1px 0px #c6613570;
    font-size: 16px;
    border-radius: 8px;
    margin: 20px 10px 10px 10px;

    .phone {
        display: block;
        padding-left: 6px;
        font-size: 16px;
        font-weight: bold;
        color: #41ad02;
    }
}

.contact {
    font-family: Montserrat;
    display: flex;
    margin: 20px auto;
    width: 800px;
    overflow: hidden;
    font-size: 0px;
    margin-top: 20px;
    border-radius: 11px;
    border: 1px solid #e2e2e2;

    label {
        font-size: 15px;
        padding-left: 15px;
        margin: 0 0 15px 15px;
        display: block;
    }

    > div {
        width: 400px;
        overflow: hidden;
    }

    .left {
        h1 {
            font-size: 19px;
            margin: 17px 31px;
            font-weight: 500;
        }

        input:not([type="submit"]) {
            font-size: 14px;
            border: 0px solid gainsboro;
            padding: 9px 0px 0px 30px;
            margin: 17px 0px;
            display: block;
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        input[type="submit"] {
            font-size: 13px;
            border: 1px solid #e2e2e2;
            background: white;
            border-radius: 5px;
            padding: 8px 21px;
            display: block;
            margin: 14px auto;
        }

        textarea {
            font-size: 14px;
        }
    }

    .right {
        img {
            width: 100%;
        }
    }
}

.page {
    min-height: 80vh;
}

.service {
    margin: 10px;
    width: 250px;

    img {
        width: 100%;
        height: 150px;
        border-radius: 5px 5px 0 0;
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 17px;
        border: 1px solid #cacaca;
        margin-top: -6px;
        padding: 10px 0;
        font-weight: 500;
        border-radius: 0 0 5px 5px;
    }
}

textarea {
    width: 68%;
    height: 105px;
    margin: 0px auto;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    display: block;
}

@media (max-width: 450px) {
    .contact {
        display: block;
        width: 100%;

        > div {
            width: 100%;
        }
    }
}

.simple-contact {
    width: 300px;
    max-width: 90%;
    display: inline-block;
    font-weight: bold;

    p {
        margin: 0;
    }
}