---
---

html, .body {
    height: 100%;
}

.example {
    .wow {
        font-size: 12px;
    }
}

.hero {
    background: 'assets/img/header.jpeg';
    background-size: cover;
    height: 500px;
    width: 100%;
}